*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Gilroy',sans-serif;
    
}

html,body{
    height: 100%;
    width: 100%;
}

body{
    background-color: #F8F8F8;
}

#main{
    height: 100%;
    width: 100%;
    padding-top: .1px;
    background-color: #F8F8F8;
    position: relative;
}

#nav{
    height: 11vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 2vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#nav h1{
    height: 100%;
    width: 20%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 3.5vw;
    font-weight: 900;
    letter-spacing: -5px;
    font-family: monument;
    position: relative;
}

#nav h1::after{
    content: '©️';
    font-family: 'gilroy';
    font-weight: 400;
    font-size: 1.5vw;
    position: absolute;
    top: 0;
    right: 04%;
    color: #666;
}

#nav h1::before{
    content: 'model management';
    font-family: 'gilroy';
    font-weight: 400;
    font-size: 1vw;
    position: absolute;
    bottom:5%;
    letter-spacing: 1px;
    right: 10%;
    color: #666;
}

#nav h2{
    height: 100%;
    width: 20%;
    /* background-color: aqua; */
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.4vw;
    font-weight: 600;
    border-right: 2px solid black;
}

#nav h2:nth-last-child(1){
    border-right: 2px solid #00000000 ;
    width: 12%;
}

#nav h2:nth-last-child(2){
    width: 29%;
}

#nav h4{
    display: none;
}

#centre{
    height: 86%;
    width: 100%;
    /* background-color: aqua; */
    padding: 3vw 5.5vw;
    position: relative;
}

.content{
    height: 100%;
    width: 100%;
    position: relative;
    /* background-color: black; */
    position: relative;
}

.content video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.content .overlay{
    height: 60%;
    width: 100%;
    bottom: 0;
    position: absolute;
    /* background-color: aquamarine; */
    padding: 3vw;
    color: white;
}

.overlay .over1{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 2vw;
}

.overlay .over1 h1{
    font-family: monument;
    font-size: 4vw;
}

.overlay .over1 h2{
    padding: 2vw 2.2vw;
    font-size: 1vw;
    border-radius: 55%;
    border: 1px solid white;
}

.overlay .over2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid white;
    margin-top: 1.5vw 0;
}

.over2 h4{
    font-size: 1.6vw;
    font-weight: 500;

}

.over2 img{
    height: 3.5vw;
}

#scroll{
    height: 50vh;
    width: 100%;
    white-space: nowrap;
    overflow: hidden;
}

#container{
    height: 100%;
    width: 110%;
    display: inline-block;
    padding: 2vw;
    animation: scroller 10s infinite linear;
}

#container img{
    height: 80%;
    width: 15%;
    border-radius: 55%;
    object-fit: cover;
    object-position: 30% 30%;
    margin: 1vw;

}

@keyframes scroller{
    from{
        transform: translate(0);
    }
    to{
        transform: translate(-100%);
    }
}

#alphabet{
    height: 10vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1vw;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

#alphabet h5{
    text-transform: uppercase;
    letter-spacing: 5px;
    font-size: 1.8vw;
    font-weight: 600;
    border-bottom: 2px solid black;
    font-style: italic;
    margin-right: 1vw;
}

#alphabet h6{
    text-transform: uppercase;
    padding: 0.4vw 0.72vw;
    font-size: 1vw;
    font-weight: 600;
    /* border-bottom: 2px solid black; */
    font-style: italic;
    border-radius: 55%;
    border: 2px solid rgba(0, 0, 0, 0);
    transition: all 0.2s;
}

#alphabet h6:hover{
    border: 2px solid rgb(0, 0, 0);
}

#page-2{
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 3vw 3.7vw;
    position: relative;
}

#page-2 .part1{
    height: 100%;
    width: 55%;
    background-image: url(https://images.unsplash.com/photo-1496440737103-cd596325d314?q=80&w=1887&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D);
    background-size: cover;
    background-position: top;
    position: relative;
}

#page-2 .part2{
    height: 100%;
    width: 40%;
    position: relative
}

.part2 img{
    height: 70%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.part2 .txt{
    display: inline-flex;
    margin-top: 1.2vw;
}

.part2 .txt h2{
    font-size: 1.8vw;
    font-weight: 600;
    width: 17vw;
}

.part2 .txt p{
    font-size: 1.2vw;
    width: 20vw;
    font-weight: 400;
}

#page-3{
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    padding: 3vw 3.7vw;
}

#page-3 .left{
    height: 100%;
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#page-3 .left h2{
    font-size: 4vw;
    font-weight: 600;
    text-transform: uppercase;
}

#page-3 .circle {
    position: relative;
    width: 200px;
    height: 200px;
    /*background: red;*/
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 15vw;
}

#page-3 .left h4{
    font-size: 1.4vw;
    font-weight: 400;
    width: 70%;

}

#page-3 .text {
    width: 100%;
    height: 100%;
    position: absolute;
    animation: animcircle 15s linear infinite;
}

@keyframes animcircle {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#page-3 .text span {
    position: absolute;
    left: 50%;
    font-size: 1.2em;
    transform-origin: 0 100px;
}

#page-3 .left .arrow img{
    height: 4vw;
    width: 5vw;
    
}

#page-3 .right{
    height: 100%;
    width: 50%;
    
}
#page-3 .right img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

#page-4{
    height: 100%;
    width: 100%;
    padding: 3vw 3.7vw;
}

#page-4 img{
    height: 100%;
    width: 100%;
    position: relative;
    object-fit: cover;
    object-position: center;
}

#page-5{
    height: 100%;
    width: 100%;
    padding: 3vw 3.7vw;
}

#page-5>h1{
    text-align: center;
    font-size: 3.5vw;
    font-weight: 900;
    text-transform: uppercase;
    font-family: 'monuments';
    margin-bottom: 3vw;
}

#page-5 .elem{
    height: 15vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 2px solid black ;
    padding: 0 2vw;
    position: relative;
}

#page-5 .elem:last-child {
    border-bottom: 2px solid black;
}

#page-5 .elem img{
    height: 80%;
    width: 06.5%;
    border-radius: 55%;
    position: absolute;
    left: 15%;
    opacity: 0;
    transition: all ease 0.3s;
    object-fit: cover;
    object-position: center;
}

#page-5 .elem:nth-of-type(odd):hover img{
    opacity: 1;
    left: 30%;
}

#page-5 .elem:nth-of-type(even) img{
    /* opacity: 1; */
    left: 45%;
}

#page-5 .elem:nth-of-type(even):hover img{
    opacity: 1;
    left: 27%;
}
#page-5 .elem h4{
    font-size: 1.1vw;
    font-weight: 500;
    width: 7%;
    text-transform: uppercase;
}

#page-5 .elem .elem-part2{
    width: 45%;
}

#page-5 .elem .elem-part2 h1{
    font-size: 2.7vw;
    font-weight: 500;
}

#page-5 .elem .elem-part2 h5{
    font-size: 0.8vw;
    font-weight: 600;
    text-transform: uppercase;
}

#label{
    height: 15vh;
    padding: 1vw;
    width: 100%;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    position: relative;
    /* background-color: red; */
    white-space: nowrap;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#label h1{
    font-size: 4vw;
    -webkit-text-stroke: 2px black;
    color: transparent;
    font-weight: 900;
    text-transform: uppercase;
    margin-right: 16px;
    letter-spacing: 0.3vw;
    display: inline-block;
    animation: animation-lable 10s linear infinite ;
}


@keyframes animation-lable {
    from{
        transform: translate(0);

    }
    to{
        transform: translate(calc(-100% - 20px));
        
    }
}

#page-6{
    height: 100%;
    width: 100%;
    padding: 3vw 3.7vw;
}

#page-6 img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: top;
}

#footer{
    height: 50vh;
    width: 100%;
    /* background-color: red; */
    display: flex;
    align-items: flex-start;
    padding: 2vw 0;
}

#footer .footer-part1{
    height: 100%;
    width: 40%;
    /* background-color: blue; */
    padding: 1vw 3.7vw;
    display: flex;
    justify-content: space-between;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    /* border-right: 2px solid black; */
}
#footer .footer-part1 .div1{
    display: flex;
    /* padding: 1vw 3.7vw; */
    justify-content: space-between;
    height: 30%;
    width: 100%;
    align-items: center;
}

#footer .footer-part1 .div1 h1{
    font-size: 4.5vw;
    font-weight: 900;
    letter-spacing: -5px;
    font-family: 'monuments';
    position: relative;
    /* background-color: yellowgreen; */
}

#footer .footer-part1 .div1 h1::after {
    content: '©️';
    font-family: 'gilroy';
    font-weight: 400;
    font-size: 1.5vw;
    position: absolute;
    top: 0;
    right: -10%;
    color: #666;
} 

#footer .footer-part1 .div1 h1::before {
    content: 'model management';
    font-family: 'gilroy';
    font-weight: 400;
    font-size: 1vw;
    position: absolute;
    bottom: 0%;
    letter-spacing: 1px;
    right: 0%;
    color: #666;
}  


#footer .footer-part1 .div1 h2{
    font-size: 1.5vw;
    font-weight: 500;
    padding: .9vw 0vw;
    /* background-color: yellow; */

}

#footer .footer-part2 .div2{
    height: 70%;
    width: 100%;
}
#footer .footer-part2{
    height: 100%;
    width: 20%;
    /* background-color: yellow; */
    border: 2px solid black;
    
}

#footer .footer-part2 h2{
    font-size: 1.2vw;
    font-weight: 500;
    padding: 0 3.7vw;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30%;
    width: 100%;
    /* background-color: yellowgreen; */
}

#footer .footer-part2 .div2{
    height: 70%;
    width: 100%;
}

#footer .footer-part3{
    height: 100%;
    width: 40%;
    border-top:2px solid black;
    border-bottom: 2px solid black;
    /* background-color: green; */
}

#footer .footer-part3 .up{
    height: 30%;
    width: 100%;
    /* padding: 1vw 3.7vw; */
    align-items: center;
    padding: 0 3.7vw;
    display: flex;
    border-bottom: 2px solid black;
}

#footer .footer-part3 .up h2{
    font-size: 1.5vw;
    font-weight: 500;

}

#footer .footer-part3 .down{
    height: 70%;
    width: 100%;
    padding: 2.5vw 3.7vw;
    display: flex;
    flex-direction: column;
}

#footer .footer-part3 .down .icon {
    margin-bottom: 1.5vw;
    
}

#footer .footer-part3 .down .icon i{
    font-size: 1.5vw;
    padding-right: 1vw;
}

#footer .footer-part3 .down h2{
    font-size: 1vw;
    font-weight: 600;
}

#footer .footer-part3 .down h4{
    font-size: 1.1vw;
    font-weight: 600;
}


@media (max-width: 1410px){
    #nav h2{
        font-size: 1.2vw;
    }
}

@media (max-width: 1310px) {
    #scroll {
        height: 40vh;
    }
}

@media (max-width: 1210px){
    .content .overlay {
        height: 50%;
    }
    #page-5 .elem img {
        width: 07.5%
    }
}

@media (max-width: 994px) {

    #footer .footer-part1 h1::after{
        display: none;
    }

    #nav h2{
        font-size: 1.2vw;
    }
    .ri-search-line:before {
        font-size: 1.9vw;
    }
    
    #footer .footer-part1 h1::before{
        display: none;
    }
    #page-5 {
        height: 90%;
    }
    #scroll {
        height: 35vh;
    }
    .content .overlay {
        height: 45%;
    }

    #page-5 .elem img {
        width: 09%;
    }    

}

@media (max-width: 910px) {
    #scroll {
        height: 29vh;
    }

    .content .overlay {
        height: 40%;
    }
    #page-5 .elem img {
        width: 10%;
    }
}

@media (max-width: 770px) {
    .content .overlay {
        height: 30%;
    }

    .overlay .over1 h2 {
        padding: 2.2vw 2.5vw;
        font-size: 1.5vw;
    }
    .over2 img {
        height: 4.5vw;
    }
    #scroll {
        height: 25vh;
    }
    #container {
        width: 150%;
    }
    #page-5 .elem img {
        width: 18%;
    }

    #label h1 {
        font-size: 7vw;
    }

    #footer {
        height: 30vh;
    }
     .part2 .txt {
        margin-top: 2.5vw;
    }
    .part2 .txt p {
        font-size: 1.5vw;
        width: 17vw;
    }

    .part2 .txt h2 {
        font-size: 2.3vw;
        width: 20vw;
    }

    #page-3 .circle {
        margin-left: 8vw;
    }
    #page-3 .left h4 {
        font-size: 1.5vw;
    }

    #page-5 .elem img {
        height: 80%;
        width: 11%;
    }    

    #page-5 {
        height: 80%;
    }

    #label {
        margin-bottom: 2vw;
    }
}
@media (max-width: 740px){
    .content .overlay {
        height: 35%;
    }
    #scroll {
        height: 27vh;
    }
    #footer {
        height: 40vh;

}

@media (max-width: 652px) {
    .content .overlay {
        height: 32%;
    }

    #scroll {
        height: 24vh;
    }
    #page-5 .elem img {
        width: 13%;
    }

}

@media (max-width: 610px){
    #nav h1::before {
        bottom: 25%;
    }

    #nav h1::after {
        top: 20%;
        right: 07%;
    }
    #scroll {
        height: 22vh;
    }

}
@media (max-width: 482px) {
    #nav h1::before,  #nav h1::after {
        display: none;
    }

    #nav h1 {
        letter-spacing: -1px;
        margin-left: 02vw;
    }

    #nav h2{
        display: none;
    }

    #nav h4{
        display: block;
        margin-right: 06vw;
    }
    
    #centre {
        height: 60%;
        padding: 3vw 3vw;
    }
    .content .overlay {
        height: 35%;
    }

    .overlay .over1 h1 {
        font-size: 4.5vw;
        font-weight: 100;
    }
    .overlay .over1 h2 {
        padding: 3vw 3.5vw;
        font-size: 2vw;
    }

    .over2 h4 {
        font-size: 2vw;
    }

    .over2 img {
        height: 5vw;
    }

    #scroll {
        height: 25vw;
    }
    #alphabet {
        gap: 0.5vw;
    }
    #alphabet h6 {
        font-size: 1.3vw;
    }

    #page-2 {
        height: 50%;
    }

    #page-3 .circle{
        margin-left: 0;
    }
    #page-3 .left h4 {
        font-size: 2vw;
    }
    #page-5 .elem img {
        width: 18%;
    }
    #page-5 .elem .elem-part2 h5 {
        font-size: 1.5vw;
    }
    #page-5 .elem .elem-part2 h1 {
        font-size: 3vw;
    }

    #label h1 {
        font-size: 6vw;
    }

    #footer .footer-part1 .div1 h1 {
        letter-spacing: -1px;
    }

    #footer {
        height: 30vh;
    }
}

@media (max-width: 460px){
    .content .overlay {
        height: 25%;
    }

    #page-2 .part2{
        display: none;
    }

    #page-2 .part1{
        height: 100%;
        width: 100%;
    }

    #page-3 .right{
        display: none;
    }

    #page-3 .left {
        width: 100%;
        align-items: center;
    }

    #page-3{
        height: 50%;
    }

    #page-3 .left h2 {
        font-size: 8vw;
    }
    #page-3 .left h4 {
        font-size: 3vw;
    }

    #page-5 .elem img {
        height: 60%;
        width: 20%;
    }

    #label h1 {
        font-size: 8vw;
    }

    #page-6 img {
        object-position: center;
    }

    #page-6 {
        height: 50%;
    }
}



